# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [5]:
# 記得先 Import 正確的套件

import pandas as pd

In [ ]:
df = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
print(df)
df = pd.DataFrame([[30,21], [41,34]], index=['2017 Sales', '2018 Sales'], columns=['Apples', 'Bananas'])
print(df)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [47]:
df = pd.DataFrame({
    'City': ['Austin', 'Dallas', 'Austin', 'Dallas'],
    'visitor': [139, 237, 139, 456],
    'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
})
print(df)
df

     City  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

     City  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [ ]:
df.groupby(["weekday"]).mean()

Sun 188.0
Mon 297.5