## 今天的作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，我們取 Titanic_train.csv 的年齡資料，試著將課堂中所學的方法應用上去。

* Q1: 產生一個新的變數(Age_above65_) Age>=65為 'Y'，其餘為'N'。  
* Q2: 添加女性和男性，產生一個新的變數(Age_above65_female)，女性或Age>=65為'Y'，其餘為'N'。  
*  Q3: 透過昨天課程的內容，驗證產生的兩個新變數，哪一個和目標變數(Survived_cate)的相關性較高?

In [ ]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
print(sklearn.__version__)
#如果只有 0.19 記得要更新至 最新版本
%matplotlib inline


#顯示所有行
pd.set_option('display.max_columns', None)
#顯示所有列
pd.set_option('display.max_rows', None)
#顯示行設定
pd.set_option('max_colwidth',100)

import pingouin as pg
import researchpy

0.23.1

## 讀入資料

In [2]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [3]:
#1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態      
#2.把題目中的 Survived 用 Survived_cate 來做分析    
df_train['Survived_cate']=df_train['Survived']
df_train['Survived_cate']=df_train['Survived_cate'].astype('object')
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          204 non-null    object
 11  Embarked       889 non-null    object
 12  Survived_cate  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None

In [17]:
#我們先把遺失值刪除
## 取出資料後，把遺失值刪除
complete_data=df_train[['Age','Survived_cate','Sex']].dropna()
display(complete_data)

      Age Survived_cate     Sex
0    22.0             0    male
1    38.0             1  female
2    26.0             1  female
3    35.0             1  female
4    35.0             0    male
..    ...           ...     ...
885  39.0             0  female
886  27.0             0    male
887  19.0             1  female
889  26.0             1    male
890  32.0             0    male

[714 rows x 3 columns]

### Q1: 產生一個新的變數(Age_above65_) Age>=65為 'Y'，其餘為'N'。

In [18]:
## 數值到分類的映射
# 運用 apply function  做變數轉換
def Age_above65(x): 
    if(x>=65):
        return('Y')
    else: 
        return('N')
    
complete_data['Age_above65_']=complete_data['Age'].apply(Age_above65)

display(complete_data)

      Age Survived_cate     Sex Age_above65_
0    22.0             0    male            N
1    38.0             1  female            N
2    26.0             1  female            N
3    35.0             1  female            N
4    35.0             0    male            N
..    ...           ...     ...          ...
885  39.0             0  female            N
886  27.0             0    male            N
887  19.0             1  female            N
889  26.0             1    male            N
890  32.0             0    male            N

[714 rows x 4 columns]

### Q2: 添加女性和男性，產生一個新的變數(Age_above65_female)，女性或Age>=65為'Y'，其餘為'N'。
* 暗示: 觀看下面影片找答案，https://www.youtube.com/watch?v=X2d-wUt5azY

In [19]:
def female65(row):
    if row.Sex == 'female' or row.Age >= 65:
        return 'Y'
    else:
        return 'N'
    
complete_data['Age_above65_female']=complete_data.apply(female65, axis=1)

display(complete_data.head(10))

     Age Survived_cate     Sex Age_above65_ Age_above65_female
0   22.0             0    male            N                  N
1   38.0             1  female            N                  Y
2   26.0             1  female            N                  Y
3   35.0             1  female            N                  Y
4   35.0             0    male            N                  N
6   54.0             0    male            N                  N
7    2.0             0    male            N                  N
8   27.0             1  female            N                  Y
9   14.0             1  female            N                  Y
10   4.0             1  female            N                  Y

### Q3: 透過昨天課程的內容，驗證產生的兩個新變數，哪一個和目標變數(Survived_cate)的相關性較高?
* 提示:    
  首先觀察一下這些變數的資料型態後，再來想要以哪一種判斷倆倆的相關性。

In [21]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 714 non-null    float64
 1   Survived_cate       714 non-null    object
 2   Sex                 714 non-null    object
 3   Age_above65_        714 non-null    object
 4   Age_above65_female  714 non-null    object
dtypes: float64(1), object(4)
memory usage: 33.5+ KB

In [23]:
!pip install researchpy

import researchpy

Collecting researchpy
  Downloading https://files.pythonhosted.org/packages/8f/20/e2787cd5eb6d4cfd6bc1f42f5218ca6a2f5552a9fcf021095cd07a4071fd/researchpy-0.3.2-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.1.5)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.5.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.19.5)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.10.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [25]:
#step1: 用交叉列連表(contingency table)，來整理兩個類別型的資料
contTable = pd.crosstab(complete_data['Survived_cate'], complete_data['Age_above65_'])
contTable

Age_above65_     N   Y
Survived_cate
0              414  10
1              289   1

In [26]:
#Step2:計算資料自由度 df*
df = min(contTable.shape[0], contTable.shape[1]) - 1
df

1

In [28]:
#Step3:運用 researchpy 套件，計算出 Cramer’s V 係數
crosstab, res = researchpy.crosstab(complete_data['Survived_cate'], complete_data['Age_above65_'], test='chi-square')
#print(res)
print("Cramer's value is",res.loc[2,'results'])

Cramer's value is 0.0803

In [29]:
## 寫一個副程式判斷相關性的強度
def judgment_CramerV(df,V):
    if df == 1:
        if V < 0.10:
            qual = 'negligible'
        elif V < 0.30:
            qual = 'small'
        elif V < 0.50:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 2:
        if V < 0.07:
            qual = 'negligible'
        elif V < 0.21:
            qual = 'small'
        elif V < 0.35:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 3:
        if V < 0.06:
            qual = 'negligible'
        elif V < 0.17:
            qual = 'small'
        elif V < 0.29:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 4:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.15:
            qual = 'small'
        elif V < 0.25:
            qual = 'medium'
        else:
            qual = 'large'
    else:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.13:
            qual = 'small'
        elif V < 0.22:
            qual = 'medium'
        else:
            qual = 'large'
    return(qual)

judgment_CramerV(df,res.loc[2,'results'])

'negligible'

In [30]:
#step1: 用交叉列連表(contingency table)，來整理兩個類別型的資料
contTable2 = pd.crosstab(complete_data['Survived_cate'], complete_data['Age_above65_female'])
contTable2

Age_above65_female    N    Y
Survived_cate
0                   350   74
1                    92  198

In [34]:
#Step2:計算資料自由度 df*
df2 = min(contTable2.shape[0], contTable2.shape[1]) - 1
df2

1

In [33]:
#Step3:運用 researchpy 套件，計算出 Cramer’s V 係數
crosstab2, res2 = researchpy.crosstab(complete_data['Survived_cate'], complete_data['Age_above65_female'], test='chi-square')
#print(res)
print("Cramer's value is",res2.loc[2,'results'])

Cramer's value is 0.514

In [35]:
judgment_CramerV(df2,res2.loc[2,'results'])
# Ans: Age_above65_female和Survived_cate,呈現高度相關

'large'